{"openapi":"3.0.1","info":{"title":"Manage Users","description":"Manage Users Facility","contact":{"name":"HMPPS Digital Studio","email":"feedback@digital.justice.gov.uk"},"version":"2024-07-12"},"servers":[{"url":"https://manage-users-api.hmpps.service.justice.gov.uk","description":"Prod"},{"url":"https://manage-users-api-preprod.hmpps.service.justice.gov.uk","description":"PreProd"},{"url":"https://manage-users-api-dev.hmpps.service.justice.gov.uk","description":"Development"},{"url":"http://localhost:8080","description":"Local"}],"paths":{"/roles/{roleCode}":{"put":{"tags":["roles-controller"],"summary":"Amend role name","description":"Amend the role name, role required is ROLE_ROLES_ADMIN","operationId":"amendRoleName","parameters":[{"name":"roleCode","in":"path","description":"The Role code of the role.","required":true,"schema":{"type":"string","description":"The Role code of the role.","example":"AUTH_GROUP_MANAGER"},"example":"AUTH_GROUP_MANAGER"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleNameAmendmentDto"}}},"required":true},"responses":{"404":{"description":"The role trying to update does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Role name updated"}},"security":[{"ROLE_ROLES_ADMIN":[]}]}},"/roles/{roleCode}/description":{"put":{"tags":["roles-controller"],"summary":"Amend role description","description":"Amend the role description, role required is ROLE_ROLES_ADMIN","operationId":"amendRoleDescription","parameters":[{"name":"roleCode","in":"path","description":"The Role code of the role.","required":true,"schema":{"type":"string","description":"The Role code of the role.","example":"AUTH_GROUP_MANAGER"},"example":"AUTH_GROUP_MANAGER"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleDescriptionAmendmentDto"}}},"required":true},"responses":{"404":{"description":"The role trying to update does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Role description updated"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]}]}},"/roles/{roleCode}/admintype":{"put":{"tags":["roles-controller"],"summary":"Amend role admin type","description":"Amend the role admin type, role required is ROLE_ROLES_ADMIN","operationId":"amendRoleAdminType","parameters":[{"name":"roleCode","in":"path","description":"The Role code of the role.","required":true,"schema":{"type":"string","description":"The Role code of the role.","example":"AUTH_GROUP_MANAGER"},"example":"AUTH_GROUP_MANAGER"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleAdminTypeAmendmentDto"}}},"required":true},"responses":{"200":{"description":"Role admin type updated"},"404":{"description":"The role trying to update does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/enable-user":{"put":{"tags":["user-controller"],"summary":"Unlock user account","description":"Unlocks the user account. Requires role ROLE_MANAGE_NOMIS_USER_ACCOUNT","operationId":"enableUser","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"maxLength":30,"minLength":1,"type":"string","description":"Username","example":"testuser1"},"example":"testuser1"}],"responses":{"200":{"description":"User account unlocked"},"400":{"description":"Incorrect request to unlock user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to unlock a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MANAGE_NOMIS_USER_ACCOUNT":[]}]}},"/prisonusers/{username}/disable-user":{"put":{"tags":["user-controller"],"summary":"Lock user account","description":"Locks the user account. Requires role ROLE_MANAGE_NOMIS_USER_ACCOUNT","operationId":"disableUser","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"maxLength":30,"minLength":1,"type":"string","description":"Username","example":"testuser1"},"example":"testuser1"}],"responses":{"200":{"description":"User account locked"},"400":{"description":"Incorrect request to lock user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to lock a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MANAGE_NOMIS_USER_ACCOUNT":[]}]}},"/groups/{group}":{"get":{"tags":["groups-controller"],"summary":"Group detail.","description":"return Group Details","operationId":"getGroupDetail","parameters":[{"name":"group","in":"path","description":"The group code of the group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDetailsDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]},"put":{"tags":["groups-controller"],"summary":"Amend group name.","description":"Amend group name.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"amendGroupName","parameters":[{"name":"group","in":"path","description":"The group code of the group.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupAmendmentDto"}}},"required":true},"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]},"delete":{"tags":["groups-controller"],"summary":"Delete group.","description":"Delete a Group.<br.>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"deleteGroup","parameters":[{"name":"group","in":"path","description":"The group code of the group.","required":true,"schema":{"type":"string","description":"The group code of the group."}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]}},"/groups/child/{group}":{"get":{"tags":["groups-controller"],"summary":"Child Group detail.","description":"Fetches child group details.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"getChildGroupDetail","parameters":[{"name":"group","in":"path","description":"The group code of the child group.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Child Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChildGroupDetailsDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]},"put":{"tags":["groups-controller"],"summary":"Amend child group name.","description":"Amend a Child Group Name.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"amendChildGroupName","parameters":[{"name":"group","in":"path","description":"The group code of the child group.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupAmendmentDto"}}},"required":true},"responses":{"404":{"description":"Child Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]},"delete":{"tags":["groups-controller"],"summary":"Delete child group.","description":"Delete a child group.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"deleteChildGroup","parameters":[{"name":"group","in":"path","description":"The group code of the child group.","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Child Group not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]}},"/externalusers/{userId}/roles/{role}":{"put":{"tags":["user-roles-controller"],"summary":"Add role to user.","description":"Add role to user. Requires role ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER or ROLE_MAINTAIN_IMS_USERS","operationId":"addRoleByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"role","in":"path","description":"The role to be added to the user.","required":true,"schema":{"type":"string"}}],"responses":{"409":{"description":"Role for user already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Added."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]},"delete":{"tags":["user-roles-controller"],"summary":"Remove role from user.","description":"Remove role from user.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS , ROLE_AUTH_GROUP_MANAGER or ROLE_MAINTAIN_IMS_USERS","operationId":"removeRoleByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"role","in":"path","description":"The role code of the role to be deleted from the user.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Deleted","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]}},"/externalusers/{userId}/groups/{group}":{"put":{"tags":["user-group-controller"],"summary":"Add group to user.","description":"Add group to user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"addGroupByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"group","in":"path","description":"The group code of the group to be added to the user.","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Group for user already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Added"},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]},"delete":{"tags":["user-group-controller"],"summary":"Remove group from user.","description":"Remove group from user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"removeGroupByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"group","in":"path","description":"The group code of the group to be deleted from the user.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Deleted","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/externalusers/{userId}/enable":{"put":{"tags":["user-controller"],"summary":"Enable a user.","description":"Enable a user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"enableUserByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"OK."},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/externalusers/{userId}/disable":{"put":{"tags":["user-controller"],"summary":"Disable a user.","description":"Disable a user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"disableUserByUserId","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeactivateReason"}}},"required":true},"responses":{"204":{"description":"OK."},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/roles":{"get":{"tags":["roles-controller"],"summary":"Get all roles","description":"Get all roles, role required is ROLE_ROLES_ADMIN (to find external roles), ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES","operationId":"getRoles","parameters":[{"name":"adminTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DPS_LSA","DPS_ADM","EXT_ADM"]}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleDto"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]},{"ROLE_MAINTAIN_ACCESS_ROLES_ADMIN":[]},{"ROLE_MAINTAIN_ACCESS_ROLES":[]},{"ROLE_VIEW_ADMINISTRABLE_USER_ROLES":[]}]},"post":{"tags":["roles-controller"],"summary":"Create role","description":"Create a new role, role required is ROLE_ROLES_ADMIN","operationId":"createRole","requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"Details of the role to be created."}}},"required":true},"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Role Created","content":{"application/json":{}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]}]}},"/prisonusers":{"get":{"tags":["user-controller"],"summary":"Find prison users by first and last name.","description":"Find prison users by first and last name. Requires role ROLE_USE_OF_FORCE or ROLE_STAFF_SEARCH","operationId":"findUsersByFirstAndLastName","parameters":[{"name":"firstName","in":"query","description":"The first name to match. Case insensitive.","required":true,"schema":{"type":"string"}},{"name":"lastName","in":"query","description":"The last name to match. Case insensitive","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrisonUserDto"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_USE_OF_FORCE":[]},{"ROLE_STAFF_SEARCH":[]}]},"post":{"tags":["user-controller"],"summary":"Create a DPS user","description":"Creates a specific DPS user. Requires role ROLE_CREATE_USER","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserRequest"}}},"required":true},"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Create a DPS user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewPrisonUserDto"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewPrisonUserDto"}}}}},"security":[{"ROLE_CREATE_USER":[]}]}},"/prisonusers/{username}/roles":{"get":{"tags":["user-roles-controller"],"summary":"Get list of roles associated with the users account","description":"Roles for a specific user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES","operationId":"getUserRoles","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"maxLength":30,"minLength":1,"type":"string","description":"Username","example":"TEST_USER1"},"example":"TEST_USER1"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleDetail"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]},"post":{"tags":["user-roles-controller"],"summary":"Add a role to the specified user account, all roles will be added to DPS caseload unless specified","description":"Adds a role to a user, user must have caseload (if specified). Default caseload is DPS caseload (NWEB).  Cannot add an existing role to the same user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES","operationId":"addRoles","parameters":[{"name":"username","in":"path","description":"Username of the account to add roles","required":true,"schema":{"maxLength":30,"minLength":1,"type":"string","description":"Username of the account to add roles","example":"TEST_USER2"},"example":"TEST_USER2"},{"name":"caseloadId","in":"query","description":"Caseload Id","required":false,"schema":{"maxLength":6,"minLength":3,"type":"string","description":"Caseload Id","example":"NWEB","default":"NWEB"},"example":"NWEB"}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"Role Codes"}}},"required":true},"responses":{"201":{"description":"User information with role details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleDetail"}}}},"400":{"description":"Incorrect request to add a role to a user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to add a role to this account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/email":{"post":{"tags":["user-controller"],"summary":"Amend a prison user email address.","description":"Amend a prison user email address. Requires role MAINTAIN_ACCESS_ROLES_ADMIN","operationId":"amendUserEmail","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmendEmail"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/email/sync":{"post":{"tags":["sync-controller"],"summary":"Sync Nomis user email back into Auth","description":"Run process to check for differences in email address between Auth and NOMIS and updates Auth if required.<br/> Requires role ROLE_MAINTAIN_ACCESS_ROLES or ROLE_MAINTAIN_ACCESS_ROLES_ADMIN","operationId":"syncUserEmail","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/caseloads":{"get":{"tags":["user-caseloads-controller"],"summary":"Get list of caseloads associated with the users account","description":"Caseloads for a specific user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES\"","operationId":"getUserCaseloads","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"maxLength":30,"minLength":1,"type":"string","description":"Username","example":"TEST_USER1"},"example":"TEST_USER1"}],"responses":{"200":{"description":"User caseload list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCaseloadDetail"}}}},"400":{"description":"Incorrect request to get caseloads for a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get a caseload for a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]},"post":{"tags":["user-caseloads-controller"],"summary":"Add multiple caseloads to the specified user account","description":"Adds caseloads to a user, caseloads must exist. Cannot add an existing caseload to the same user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN","operationId":"addCaseloads","parameters":[{"name":"username","in":"path","description":"Username of the account to add caseloads","required":true,"schema":{"maxLength":30,"minLength":1,"type":"string","description":"Username of the account to add caseloads","example":"TEST_USER2"},"example":"TEST_USER2"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"201":{"description":"User information with caseload details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCaseloadDetail"}}}},"400":{"description":"Incorrect request to add caseloads to a user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to add caseloads to account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/linkedprisonusers/lsa":{"post":{"tags":["user-controller"],"summary":"Link a Local Admin User to an existing General Account","description":"Link a Local Admin User to an existing General Account. Requires role ROLE_CREATE_USER","operationId":"createLinkedLocalAdminUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLinkedLocalAdminUserRequest"}}},"required":true},"responses":{"201":{"description":"Local Admin User linked to an existing General Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonStaffUserDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_CREATE_USER":[]}]}},"/linkedprisonusers/general":{"post":{"tags":["user-controller"],"summary":"Link a New General User to an existing Admin Account","description":"Link a New General User to an existing Admin Account. Requires role ROLE_CREATE_USER","operationId":"createLinkedGeneralUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLinkedGeneralUserRequest"}}},"required":true},"responses":{"201":{"description":"General User linked to an existing Admin Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonStaffUserDto"}}}},"400":{"description":"Incorrect request to link a general user to an admin user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint, requires a valid OAuth2 token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to link a general user to an existing admin user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_CREATE_USER":[]}]}},"/linkedprisonusers/admin":{"post":{"tags":["user-controller"],"summary":"Link an Admin User to an existing General Account","description":"Link an Admin User to an existing General Account. Requires role ROLE_CREATE_USER","operationId":"createLinkedCentralAdminUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLinkedCentralAdminUserRequest"}}},"required":true},"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Admin User linked to an existing General Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonStaffUserDto"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_CREATE_USER":[]}]}},"/groups":{"get":{"tags":["groups-controller"],"summary":"Get all groups","description":"Get all groups, role required is ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"getGroups","responses":{"200":{"description":"All Groups Returned","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGroupDto"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER":[]}]},"post":{"tags":["groups-controller"],"summary":"Create group.","description":"Create a group.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"createGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupDto"}}},"required":true},"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Group already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]}},"/groups/child":{"post":{"tags":["groups-controller"],"summary":"Create child group.","description":"Create a Child Group.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS","operationId":"createChildGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChildGroupDto"}}},"required":true},"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Child Group already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]}]}},"/externalusers/{userId}/roles":{"get":{"tags":["user-roles-controller"],"summary":"Get list of roles associated with the users account","description":"Roles for a specific user.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER or ROLE_MAINTAIN_IMS_USERS","operationId":"getUserRoles_1","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_OAUTH_USERS":[]},{"AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]},"post":{"tags":["user-roles-controller"],"summary":"Add roles to user.","description":"Add role to user, post version taking multiple roles<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER or ROLE_MAINTAIN_IMS_USERS","operationId":"addRolesByUserId","parameters":[{"name":"userId","in":"path","description":"The user Id of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of roles to be assigned.","items":{"type":"string"}}}},"required":true},"responses":{"409":{"description":"Role(s) for user already exists..","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Created"},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"No Content"}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]}},"/externalusers/{userId}/email":{"post":{"tags":["user-controller"],"summary":"Amend a user email address.","description":"Amend a user email address. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"alterUserEmail","parameters":[{"name":"userId","in":"path","description":"The ID of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AmendUser"}}},"required":true},"responses":{"204":{"description":"OK.","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/externalusers/create":{"post":{"tags":["user-controller"],"summary":"Create user","description":"Create user. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"createUserByEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewUser"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"User or email already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/email-domains":{"get":{"tags":["email-domain-controller"],"summary":"Get all email domains","description":"Get all email domains, role required is ROLE_MAINTAIN_EMAIL_DOMAINS","operationId":"domainList","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailDomainDto"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_EMAIL_DOMAINS":[]}]},"post":{"tags":["email-domain-controller"],"summary":"Create email domain","description":"Create a new email domain, role required is ROLE_MAINTAIN_EMAIL_DOMAINS","operationId":"addEmailDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEmailDomainDto"}}},"required":true},"responses":{"409":{"description":"Email domain already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailDomainDto"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_EMAIL_DOMAINS":[]}]}},"/users/{username}":{"get":{"tags":["user-controller"],"summary":"User detail.","description":"Find user detail by username.","operationId":"findUser","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDetailsDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/{username}/roles":{"get":{"tags":["user-controller"],"summary":"List of roles for user","description":"List of roles for user. Currently restricted to service specific roles: ROLE_INTEL_ADMIN or ROLE_PF_USER_ADMIN or ROLE_PCMS_USER_ADMIN.<br/><br/>**Change to old endpoint in Auth** <br/> 1)  Nomis / Prison user doesn't return additional role in the list:  PRISON <br/>                                         2)  Delius user doesn't return additional role in the list:  PROBATION","operationId":"userRoles","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_INTEL_ADMIN":[]},{"ROLE_PF_USER_ADMIN":[]},{"ROLE_PCMS_USER_ADMIN":[]}]}},"/users/{username}/email":{"get":{"tags":["user-controller"],"summary":"Email address for user","description":"Verified email address for user","operationId":"getUserEmail","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}},{"name":"unverified","in":"query","description":"Return unverified email addresses.","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"User not found. The user doesn't exist so could have never logged in","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetail"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"The user's email address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailAddressDto"}}}}}}},"/users/search":{"get":{"tags":["user-search-controller"],"summary":"Search for users ","description":"\n      Search for users in the Auth DB only who match on partial first name, surname, username or email and return a pageable result set. \n      Optionally choose the authentication sources from any combination of auth, delius, nomis and azuread sources.\n      Provide the authSources as a list of values with the same name. e.g. ?authSources=nomis&authSources=delius&authSources=auth\n      It will return users with the requested auth sources where they have authenticated against the auth service at least once.\n      Note: User information held in the auth service may be out of date with the user information held in the source systems as\n      their details will be as they were the last time that they authenticated.<br/><br/>\n      \n       Requires role ROLE_INTEL_ADMIN or ROLE_PCMS_USER_ADMIN or ROLE_PF_USER_ADMIN\n    ","operationId":"searchForUsersInMultipleSourceSystems","parameters":[{"name":"name","in":"query","description":"The username, email or name of the user.","required":false,"schema":{"type":"string"},"example":"j smith"},{"name":"status","in":"query","description":"User status to find ACTIVE, INACTIVE or ALL. Defaults to ALL if omitted.","required":false,"schema":{"type":"string","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"authSources","in":"query","description":"List of auth sources to search [nomis|delius|auth|azuread]. Defaults to auth if omitted.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["auth","azuread","delius","nomis","none"]}}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponseAuthUserDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_INTEL_ADMIN":[]},{"ROLE_PF_USER_ADMIN":[]},{"ROLE_PCMS_USER_ADMIN":[]}]}},"/users/me":{"get":{"tags":["user-controller"],"summary":"My User details.","description":"Find my user details.","operationId":"myDetails","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/me/roles":{"get":{"tags":["user-controller"],"summary":"List of roles for current user.","description":"List of roles for current user.","operationId":"myRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExternalUserRole"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/me/groups":{"get":{"tags":["user-controller"],"summary":"My Group details.","description":"Find my location/group details. This should be accessed with user token.","operationId":"myGroupDetails","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGroupDto"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/me/email":{"get":{"tags":["user-controller"],"summary":"Email address for current user","description":"Verified email address for current user","operationId":"myEmail","parameters":[{"name":"unverified","in":"query","description":"Return unverified email addresses.","required":false,"schema":{"type":"boolean"}}],"responses":{"204":{"description":"No content.  No verified email address found for user","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/users/me/caseloads":{"get":{"tags":["user-controller"],"summary":"Get list of caseloads associated with the current user","description":"Caseloads for the current user","operationId":"getMyCaseloads","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserCaseloadDetail"}}}}}}},"/roles/{role}":{"get":{"tags":["roles-controller"],"summary":"Get role details","description":"Get role details, role required is ROLE_ROLES_ADMIN","operationId":"getRoleDetail","parameters":[{"name":"role","in":"path","description":"The Role code of the role.","required":true,"schema":{"type":"string","description":"The Role code of the role.","example":"AUTH_GROUP_MANAGER"},"example":"AUTH_GROUP_MANAGER"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]},{"ROLE_VIEW_ADMINISTRABLE_USER_ROLES":[]}]}},"/roles/paged":{"get":{"tags":["roles-controller"],"summary":"Get all paged roles","description":"Get all paged roles, role required is ROLE_ROLES_ADMIN","operationId":"getPagedRoles","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"roleName,asc"}},{"name":"roleName","in":"query","required":false,"schema":{"type":"string"}},{"name":"roleCode","in":"query","required":false,"schema":{"type":"string"}},{"name":"adminTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DPS_LSA","DPS_ADM","EXT_ADM"]}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponseRoleDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_ROLES_ADMIN":[]},{"ROLE_VIEW_ADMINISTRABLE_USER_ROLES":[]}]}},"/roles/delius":{"get":{"tags":["user-controller"],"summary":"List of mapped delius roles","description":"List of mapped  delius roles. Requires role ROLE_INTEL_ADMIN or ROLE_PCMS_USER_ADMIN or ROLE_PF_USER_ADMIN","operationId":"findMappedDeliusRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_INTEL_ADMIN":[]},{"ROLE_PCMS_USER_ADMIN":[]},{"ROLE_PF_USER_ADMIN":[]}]}},"/prisonusers/{username}":{"get":{"tags":["user-controller"],"summary":"Get specified user details","description":"Information on a specific user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES or ROLE_MANAGE_NOMIS_USER_ACCOUNT","operationId":"findUserByUsername","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewPrisonUserDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_ACCESS_ROLES_ADMIN":[]},{"ROLE_MAINTAIN_ACCESS_ROLES":[]},{"ROLE_MANAGE_NOMIS_USER_ACCOUNT":[]}]}},"/prisonusers/{username}/details":{"get":{"tags":["user-controller"],"summary":"Get specified user details","description":"Information on a specific user. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES or ROLE_MANAGE_NOMIS_USER_ACCOUNT","operationId":"getUserDetails","parameters":[{"name":"username","in":"path","description":"Username","required":true,"schema":{"type":"string","description":"Username","example":"testuser1"},"example":"testuser1"}],"responses":{"200":{"description":"User Information Returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrisonUserDetails"}}}},"400":{"description":"Incorrect request to get user information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to get a user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES_ADMIN":[]},{"MAINTAIN_ACCESS_ROLES":[]},{"ROLE_MANAGE_NOMIS_USER_ACCOUNT":[]}]}},"/prisonusers/search":{"get":{"tags":["user-search-controller"],"summary":"Get all users filtered as specified","description":"Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES. <br/>Get all users with filter.<br/> For local administrators this will implicitly filter users in the prisons they administer, therefore username is expected in the authorisation token. <br/>For users with role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN this allows access to all staff.","operationId":"getUsers","parameters":[{"name":"pageRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"nameFilter","in":"query","description":"Filter results by name (first name and/or last name in any order), username or email address.","required":false,"schema":{"type":"string"},"example":"Raj"},{"name":"accessRoles","in":"query","description":"Filter will match users that have all DPS role specified","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"ADD_SENSITIVE_CASE_NOTES"},{"name":"nomisRole","in":"query","description":"Filter will match users that have the NOMIS role specified, should be used with a caseloadId or will get duplicates","required":false,"schema":{"type":"string"},"example":201},{"name":"status","in":"query","description":"Limit to active / inactive / show all users","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","ACTIVE","INACTIVE"]},"example":"INACTIVE"},{"name":"activeCaseload","in":"query","description":"Filter results by user's currently active caseload i.e. the one they have currently selected","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"caseload","in":"query","description":"Filter results to include only those users that have access to the specified caseload (irrespective of whether it is currently active or not","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"inclusiveRoles","in":"query","description":"Returns result inclusive of selected roles","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"showOnlyLSAs","in":"query","description":"Returns all active LSAs","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"Pageable list of user summaries","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponsePrisonUserSearchSummary"}}}},"400":{"description":"Incorrect filter supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prisonusers/reference-data/caseloads":{"get":{"tags":["reference-data-controller"],"summary":"Retrieves all caseloads","description":"Retrieves all the current active general caseloads, these are effectively prisons that staff can be associated with.","operationId":"getCaseload","responses":{"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/prisonusers/download":{"get":{"tags":["user-search-controller"],"operationId":"downloadUsersByFilters","parameters":[{"name":"nameFilter","in":"query","description":"Filter results by name (first name and/or last name in any order), username or email address.","required":false,"schema":{"type":"string"},"example":"Raj"},{"name":"accessRoles","in":"query","description":"Filter will match users that have all DPS role specified","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"ADD_SENSITIVE_CASE_NOTES"},{"name":"nomisRole","in":"query","description":"Filter will match users that have the NOMIS role specified, should be used with a caseloadId or will get duplicates","required":false,"schema":{"type":"string"},"example":201},{"name":"status","in":"query","description":"Limit to active / inactive / show all users","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","ACTIVE","INACTIVE"]},"example":"INACTIVE"},{"name":"activeCaseload","in":"query","description":"Filter results by user's currently active caseload i.e. the one they have currently selected","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"caseload","in":"query","description":"Filter results to include only those users that have access to the specified caseload (irrespective of whether it is currently active or not","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"inclusiveRoles","in":"query","description":"Returns result inclusive of selected roles","required":false,"schema":{"type":"boolean"},"example":true},{"name":"showOnlyLSAs","in":"query","description":"Returns all active LSAs","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrisonUserSummary"}}}}}}}},"/prisonusers/download/admins":{"get":{"tags":["user-search-controller"],"operationId":"downloadPrisonAdminsByFilter","parameters":[{"name":"nameFilter","in":"query","description":"Filter results by name (first name and/or last name in any order), username or email address.","required":false,"schema":{"type":"string"},"example":"Raj"},{"name":"accessRoles","in":"query","description":"Filter will match users that have all DPS role specified","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"ADD_SENSITIVE_CASE_NOTES"},{"name":"nomisRole","in":"query","description":"Filter will match users that have the NOMIS role specified, should be used with a caseloadId or will get duplicates","required":false,"schema":{"type":"string"},"example":201},{"name":"status","in":"query","description":"Limit to active / inactive / show all users","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","ACTIVE","INACTIVE"]},"example":"INACTIVE"},{"name":"activeCaseload","in":"query","description":"Filter results by user's currently active caseload i.e. the one they have currently selected","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"caseload","in":"query","description":"Filter results to include only those users that have access to the specified caseload (irrespective of whether it is currently active or not","required":false,"schema":{"type":"string"},"example":"MDI"},{"name":"inclusiveRoles","in":"query","description":"Returns result inclusive of selected roles","required":false,"schema":{"type":"boolean"},"example":true},{"name":"showOnlyLSAs","in":"query","description":"Returns all active LSAs","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrisonAdminUserSummary"}}}}}}}},"/notification/banner/{page}":{"get":{"tags":["notification-banner-controller"],"summary":"Gets Notification message","description":"Message string to be displayed in the notification banner.","operationId":"getNotificationBannerMessage","parameters":[{"name":"page","in":"path","description":"The notification page","required":true,"schema":{"type":"string","description":"The notification page","example":"roles"},"example":"roles"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationMessage"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers":{"get":{"tags":["user-search-controller"],"summary":"Search for a user.","description":"Search for a user.","operationId":"searchForUser","parameters":[{"name":"email","in":"query","description":"The email address of the user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"204":{"description":"No users found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/{username}":{"get":{"tags":["user-search-controller"],"summary":"User detail.","description":"User detail.","operationId":"user","parameters":[{"name":"username","in":"path","description":"The username of the user.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalUser"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/{userId}/groups":{"get":{"tags":["user-group-controller"],"summary":"Get groups for userId.","description":"Get groups for userId. Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER or ROLE_VIEW_USER_GROUPS","operationId":"getGroups_1","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"children","in":"query","description":"Whether groups are expanded into their children.","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGroupDto"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_VIEW_USER_GROUPS":[]}]}},"/externalusers/{userId}/assignable-roles":{"get":{"tags":["user-roles-controller"],"summary":"Get list of roles associated with the users account","description":"Roles for a specific user. Requires role ROLE_MAINTAIN_OAUTH_USERS, ROLE_AUTH_GROUP_MANAGER, ROLE_MAINTAIN_IMS_USERS","operationId":"getAssignableRoles","parameters":[{"name":"userId","in":"path","description":"The userId of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"}}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]},{"ROLE_MAINTAIN_IMS_USERS":[]}]}},"/externalusers/search":{"get":{"tags":["user-search-controller"],"summary":"Search for an external user.","operationId":"searchForUser_1","parameters":[{"name":"name","in":"query","description":"The username, email or name of the user.","required":false,"schema":{"type":"string"},"example":"j smith"},{"name":"roles","in":"query","description":"The role codes of the user.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"groups","in":"query","description":"The group codes of the user.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","description":"Limit to active / inactive / show all users.","required":false,"schema":{"type":"string","default":"ALL","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedResponseExternalUserDetailsDto"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/me/searchable-roles":{"get":{"tags":["user-roles-controller"],"summary":"Get list of searchable roles.","description":"Get list of roles that can be search for by the current user.","operationId":"searchableRoles","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserRole"}}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/me/assignable-groups":{"get":{"tags":["user-controller"],"summary":"Get list of assignable groups.","description":"Get list of groups that can be assigned by the current user.","operationId":"assignableGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserGroup"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/externalusers/id/{userId}":{"get":{"tags":["user-search-controller"],"summary":"Retrieve user details by user id.","description":"Retrieve detail by user id. Note that when accessing with Group Manager role the accessor must have a group in common with the user.<br/>Requires role ROLE_MAINTAIN_OAUTH_USERS or ROLE_AUTH_GROUP_MANAGER","operationId":"userById","parameters":[{"name":"userId","in":"path","description":"The id of the user.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalUserDetailsDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_OAUTH_USERS":[]},{"ROLE_AUTH_GROUP_MANAGER":[]}]}},"/email-domains/{id}":{"get":{"tags":["email-domain-controller"],"summary":"Get email domain details","description":"Get email domain details, role required is ROLE_MAINTAIN_EMAIL_DOMAINS","operationId":"domain","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailDomainDto"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Email domain not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_EMAIL_DOMAINS":[]}]},"delete":{"tags":["email-domain-controller"],"summary":"Delete email domain details","description":"Delete email domain details, role required is ROLE_MAINTAIN_EMAIL_DOMAINS","operationId":"deleteEmailDomain","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Email domain details deleted"},"403":{"description":"Forbidden. Requires authorisation with correct role.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Email domain not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"ROLE_MAINTAIN_EMAIL_DOMAINS":[]}]}},"/prisonusers/{username}/roles/{roleCode}":{"delete":{"tags":["user-roles-controller"],"summary":"Remove a role from a user","description":"The user must already have the role to be removed. Default role caseload is a DPS role unless specified. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN or ROLE_MAINTAIN_ACCESS_ROLES","operationId":"removeRoleFromUser","parameters":[{"name":"username","in":"path","description":"Username of the account to remove role","required":true,"schema":{"maxLength":30,"minLength":1,"type":"string","description":"Username of the account to remove role","example":"TEST_USER2"},"example":"TEST_USER2"},{"name":"roleCode","in":"path","description":"Role Code","required":true,"schema":{"maxLength":30,"minLength":1,"type":"string","description":"Role Code","example":"GLOBAL_SEARCH"},"example":"GLOBAL_SEARCH"},{"name":"caseloadId","in":"query","description":"Caseload Id","required":false,"schema":{"maxLength":6,"minLength":3,"type":"string","description":"Caseload Id","example":"NWEB","default":"NWEB"},"example":"NWEB"}],"responses":{"200":{"description":"User information with role details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRoleDetail"}}}},"400":{"description":"Incorrect request to remove a role from a user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to remove a role this user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES":[]},{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}},"/prisonusers/{username}/caseloads/{caseloadId}":{"delete":{"tags":["user-caseloads-controller"],"summary":"Remove a caseload from a user","description":"The user must already have the caseload to be removed. Requires role ROLE_MAINTAIN_ACCESS_ROLES_ADMIN","operationId":"removeCaseload","parameters":[{"name":"username","in":"path","description":"Username to remove caseload from","required":true,"schema":{"maxLength":30,"minLength":1,"type":"string","description":"Username to remove caseload from","example":"TEST_USER2"},"example":"TEST_USER2"},{"name":"caseloadId","in":"path","description":"Caseload ID to remove from this user","required":true,"schema":{"maxLength":6,"minLength":3,"type":"string","description":"Caseload ID to remove from this user","example":"LEI"},"example":"LEI"}],"responses":{"200":{"description":"User information with caseload details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCaseloadDetail"}}}},"400":{"description":"Incorrect request to remove a caseload from a user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized to access this endpoint","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Incorrect permissions to remove a caseload this user account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"MAINTAIN_ACCESS_ROLES_ADMIN":[]}]}}},"components":{"schemas":{"RoleNameAmendmentDto":{"required":["roleName"],"type":"object","properties":{"roleName":{"maxLength":100,"minLength":4,"pattern":"^[0-9A-Za-z- ,.()'&]*$","type":"string","description":"Role Name","example":"Auth Group Manager"}},"description":"Update Role Name"},"ErrorResponse":{"required":["status"],"type":"object","properties":{"status":{"type":"integer","format":"int32"},"errorCode":{"type":"integer","format":"int32"},"userMessage":{"type":"string"},"developerMessage":{"type":"string"},"errors":{"type":"array","items":{"type":"string"}}}},"RoleDescriptionAmendmentDto":{"required":["roleDescription"],"type":"object","properties":{"roleDescription":{"maxLength":1024,"minLength":0,"pattern":"^[0-9A-Za-z- ,.()'&\r\n]*$","type":"string","description":"Role Description","example":"Allow Group Manager to administer the account within their groups"}},"description":"Update Role Description"},"RoleAdminTypeAmendmentDto":{"required":["adminType"],"type":"object","properties":{"adminType":{"uniqueItems":true,"type":"array","description":"Role Admin Type","example":["DPS_ADM"],"items":{"type":"string","description":"Role Admin Type","example":"[\"DPS_ADM\"]","enum":["DPS_LSA","DPS_ADM","EXT_ADM"]}}},"description":"Update Role Administration Types"},"GroupAmendmentDto":{"required":["groupName"],"type":"object","properties":{"groupName":{"maxLength":100,"minLength":4,"type":"string","description":"Group Name","example":"HDC NPS North East"}},"description":"Group Name"},"DeactivateReason":{"required":["reason"],"type":"object","properties":{"reason":{"maxLength":100,"minLength":4,"type":"string","description":"Deactivate Reason","example":"User has left"}},"description":"The reason user made inactive."},"CreateUserRequest":{"required":["email","firstName","lastName","userType","username"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"TEST_USER"},"email":{"type":"string","description":"Email Address","example":"test@justice.gov.uk"},"firstName":{"type":"string","description":"First name of the user","example":"John"},"lastName":{"type":"string","description":"Last name of the user","example":"Smith"},"userType":{"type":"string","description":"The type of user","example":"DPS_LSA","enum":["DPS_ADM","DPS_GEN","DPS_LSA"]},"defaultCaseloadId":{"type":"string","description":"Default caseload (a.k.a Prison ID)","example":"BXI"}},"description":"DPS User creation"},"NewPrisonUserDto":{"required":["firstName","lastName","username"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"TEST_USER"},"primaryEmail":{"type":"string","description":"Email Address","example":"test@justice.gov.uk"},"firstName":{"type":"string","description":"First name of the user","example":"John"},"lastName":{"type":"string","description":"Last name of the user","example":"Smith"}},"description":"Prison User Created Details"},"CaseloadRoleDetail":{"required":["caseload","roles"],"type":"object","properties":{"caseload":{"$ref":"#/components/schemas/PrisonCaseload"},"roles":{"type":"array","description":"NOMIS Roles assigned to this user","items":{"$ref":"#/components/schemas/RoleDetail"}}},"description":"Roles in caseload information"},"PrisonCaseload":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string","description":"identify for caseload","example":"WWI"},"name":{"type":"string","description":"name of caseload, typically prison name","example":"WANDSWORTH (HMP)"}},"description":"Caseload for the listed roles"},"RoleDetail":{"required":["code","name"],"type":"object","properties":{"code":{"type":"string","description":"Role Code","example":"GLOBAL_SEARCH"},"name":{"type":"string","description":"Role Name","example":"Global Search Role"},"sequence":{"type":"integer","description":"Role Sequence","format":"int32","example":1,"default":1},"type":{"type":"string","description":"Role Type ","example":"APP","default":"APP","enum":["APP","INST","COMM"]},"adminRoleOnly":{"type":"boolean","description":"Admin only role","example":true,"default":false},"parentRole":{"$ref":"#/components/schemas/RoleDetail"}},"description":"Role Information"},"UserRoleDetail":{"required":["accountType","active","dpsRoles","username"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"TESTUSER1"},"active":{"type":"boolean","description":"Indicates that the user is active","example":true},"accountType":{"type":"string","description":"Type of user account","example":"GENERAL","enum":["GENERAL","ADMIN"]},"activeCaseload":{"$ref":"#/components/schemas/PrisonCaseload"},"dpsRoles":{"type":"array","description":"DPS Roles assigned to this user","items":{"$ref":"#/components/schemas/RoleDetail"}},"nomisRoles":{"type":"array","description":"NOMIS Roles assigned to this user per caseload","items":{"$ref":"#/components/schemas/CaseloadRoleDetail"}}},"description":"User & Role Information"},"AmendEmail":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"Email address","example":"prison.user@someagency.justice.gov.uk"}}},"UserCaseloadDetail":{"required":["accountType","active","caseloads","username"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"TESTUSER1"},"active":{"type":"boolean","description":"Indicates that the user is active","example":true},"accountType":{"type":"string","description":"Type of user account","example":"GENERAL","enum":["GENERAL","ADMIN"]},"activeCaseload":{"$ref":"#/components/schemas/PrisonCaseload"},"caseloads":{"type":"array","description":"Caseloads available for this user","items":{"$ref":"#/components/schemas/PrisonCaseload"}}},"description":"User & Caseload Information"},"CreateLinkedLocalAdminUserRequest":{"required":["adminUsername","existingUsername","localAdminGroup"],"type":"object","properties":{"existingUsername":{"maxLength":30,"minLength":1,"type":"string","description":"existingUsername","example":"TESTUSER1"},"adminUsername":{"maxLength":30,"minLength":1,"type":"string","description":"adminUsername","example":"TESTUSER1_ADM"},"localAdminGroup":{"maxLength":6,"minLength":3,"type":"string","description":"Default local admin group (prison) to manage users","example":"MDI"}},"description":"Linking a new Local admin account to an existing general user"},"PrisonCaseloadDto":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string","description":"ID for the caseload","example":"WWI"},"name":{"type":"string","description":"name of caseload, typically prison name","example":"WANDSWORTH (HMP)"}},"description":"Caseloads available for this user"},"PrisonStaffUserDto":{"required":["firstName","lastName","staffId","status"],"type":"object","properties":{"staffId":{"type":"integer","description":"Staff ID","format":"int64","example":324323},"firstName":{"type":"string","description":"First name of the user","example":"John"},"lastName":{"type":"string","description":"Last name of the user","example":"Smith"},"status":{"type":"string","description":"Status of staff account","example":"ACTIVE"},"primaryEmail":{"type":"string","description":"Email addresses of staff","example":"test@test.com"},"generalAccount":{"$ref":"#/components/schemas/UserCaseloadDto"},"adminAccount":{"$ref":"#/components/schemas/UserCaseloadDto"}},"description":"Prison Staff Information"},"UserCaseloadDto":{"required":["accountType","active","username"],"type":"object","properties":{"username":{"type":"string","description":"User name","example":"John1"},"active":{"type":"boolean","description":"Indicates that the user is active or not","example":true},"accountType":{"type":"string","description":"Type of user account","example":"GENERAL","enum":["GENERAL","ADMIN"]},"activeCaseload":{"$ref":"#/components/schemas/PrisonCaseloadDto"},"caseloads":{"type":"array","description":"Caseloads available for this user","items":{"$ref":"#/components/schemas/PrisonCaseloadDto"}}},"description":"User & Caseload Information"},"CreateLinkedGeneralUserRequest":{"required":["defaultCaseloadId","existingAdminUsername","generalUsername"],"type":"object","properties":{"existingAdminUsername":{"maxLength":30,"minLength":1,"type":"string","description":"existing admin username","example":"TESTUSER1_ADM"},"generalUsername":{"maxLength":30,"minLength":1,"type":"string","description":"new general username","example":"TESTUSER1_GEN"},"defaultCaseloadId":{"maxLength":6,"minLength":3,"type":"string","description":"Default caseload (a.k.a Prison ID), not required for admin accounts","example":"BXI"}},"description":"Linking a new General account to an existing admin user account"},"CreateLinkedCentralAdminUserRequest":{"required":["adminUsername","existingUsername"],"type":"object","properties":{"existingUsername":{"maxLength":30,"minLength":1,"type":"string","description":"existingUsername","example":"TESTUSER1"},"adminUsername":{"maxLength":30,"minLength":1,"type":"string","description":"adminUsername","example":"TESTUSER1_ADM"}},"description":"Linking a new Central admin account to an existing general user"},"CreateGroupDto":{"required":["groupCode","groupName"],"type":"object","properties":{"groupCode":{"maxLength":30,"minLength":2,"pattern":"^[0-9A-Za-z_]*","type":"string","description":"Group Code","example":"HDC_NPS_NE"},"groupName":{"maxLength":100,"minLength":4,"pattern":"^[0-9A-Za-z- ,.()'&]*$","type":"string","description":"groupName","example":"HDC NPS North East"}}},"CreateChildGroupDto":{"required":["groupCode","groupName","parentGroupCode"],"type":"object","properties":{"parentGroupCode":{"maxLength":30,"minLength":2,"pattern":"^[0-9A-Za-z_]*","type":"string","description":"Parent Group Code","example":"HNC_NPS"},"groupCode":{"maxLength":30,"minLength":2,"pattern":"^[0-9A-Za-z_]*","type":"string","description":"Group Code","example":"HDC_NPS_NE"},"groupName":{"maxLength":100,"minLength":4,"pattern":"^[0-9A-Za-z- ,.()'&]*$","type":"string","description":"groupName","example":"HDC NPS North East"}}},"AmendUser":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"Email address","example":"nomis.user@someagency.justice.gov.uk"}}},"NewUser":{"required":["email","firstName","lastName"],"type":"object","properties":{"email":{"type":"string","description":"Email address","example":"nomis.user@someagency.justice.gov.uk"},"firstName":{"type":"string","description":"First name","example":"Nomis"},"lastName":{"type":"string","description":"Last name","example":"User"},"groupCodes":{"uniqueItems":true,"type":"array","description":"Initial groups, can be used for one or more initial groups","example":["SITE_1_GROUP_1","SITE_1_GROUP_2"],"items":{"type":"string","description":"Initial groups, can be used for one or more initial groups","example":"[\"SITE_1_GROUP_1\",\"SITE_1_GROUP_2\"]"}}},"description":"Details of the user to be created."},"CreateEmailDomainDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":100,"minLength":6,"type":"string","description":"Email domain","example":"careuk.com"},"description":{"maxLength":200,"minLength":0,"type":"string","description":"Email domain description","example":"CAREUK"}}},"EmailDomainDto":{"required":["description","domain","id"],"type":"object","properties":{"id":{"type":"string","description":"Email domain id"},"domain":{"type":"string","description":"Email domain","example":"careuk.com"},"description":{"type":"string","description":"Email domain description","example":"CAREUK"}}},"UserDetailsDto":{"required":["active","authSource","name","userId","username"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"DEMO_USER1"},"active":{"type":"boolean","description":"Active","example":false},"name":{"type":"string","description":"Name","example":"John Smith"},"authSource":{"title":"Authentication Source","type":"string","description":"auth for external users, nomis for nomis authenticated users","example":"nomis","enum":["auth","azuread","delius","nomis","none"]},"staffId":{"title":"Staff Id","type":"integer","description":"Deprecated, use userId instead","format":"int64","example":231232},"activeCaseLoadId":{"title":"Current Active Caseload","type":"string","description":"Deprecated, retrieve from prison API rather than manage users","example":"MDI"},"userId":{"title":"User Id","type":"string","description":"Unique identifier for user, will be UUID for external users or staff ID for nomis users","example":"231232"},"uuid":{"title":"Unique Id","type":"string","description":"Universally unique identifier for user, generated and stored in auth database for all users","format":"uuid","example":"5105a589-75b3-4ca0-9433-b96228c1c8f3"}},"description":"User Details"},"UserRole":{"required":["roleCode","roleName"],"type":"object","properties":{"roleCode":{"type":"string","description":"Role Code","example":"AUTH_GROUP_MANAGER"},"roleName":{"type":"string","description":"Role Name","example":"Auth Group Manager"},"roleDescription":{"type":"string","description":"Role Description","example":"Allow Group Manager to administer the account within their groups"}},"description":"User Role Details"},"ErrorDetail":{"required":["error","error_description"],"type":"object","properties":{"error":{"type":"string","description":"Error","example":"Not Found"},"error_description":{"type":"string","description":"Error description","example":"User not found."},"field":{"type":"string","description":"Field in error","example":"username"}}},"EmailAddressDto":{"required":["username","verified"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"DEMO_USER1"},"email":{"type":"string","description":"Email","example":"john.smith@digital.justice.gov.uk"},"verified":{"type":"boolean","description":"Verified email","example":true}},"description":"User email details"},"AuthUserDto":{"required":["enabled","lastLoggedIn","locked","source","verified"],"type":"object","properties":{"userId":{"type":"string","description":"User ID","example":"91229A16-B5F4-4784-942E-A484A97AC865"},"username":{"type":"string","description":"Username","example":"externaluser"},"email":{"type":"string","description":"Email address","example":"external.user@someagency.justice.gov.uk"},"firstName":{"type":"string","description":"First name","example":"External"},"lastName":{"type":"string","description":"Last name","example":"User"},"locked":{"type":"boolean","description":"Account is locked due to incorrect password attempts","example":true},"enabled":{"type":"boolean","description":"Account is enabled","example":false},"verified":{"type":"boolean","description":"Email address has been verified","example":false},"lastLoggedIn":{"type":"string","description":"Last time user logged in","format":"date-time"},"source":{"type":"string","description":"Authentication source","example":"delius"}}},"PageDetails":{"required":["offset","pageNumber","pageSize","paged","sort","unpaged"],"type":"object","properties":{"sort":{"$ref":"#/components/schemas/PageSort"},"offset":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"}}},"PageSort":{"required":["empty","sorted","unsorted"],"type":"object","properties":{"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"},"empty":{"type":"boolean"}}},"PagedResponseAuthUserDto":{"required":["content","empty","first","last","number","numberOfElements","pageable","size","sort","totalElements","totalPages"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AuthUserDto"}},"pageable":{"$ref":"#/components/schemas/PageDetails"},"last":{"type":"boolean"},"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/PageSort"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"empty":{"type":"boolean"}}},"User":{"required":["username"],"type":"object","properties":{"username":{"type":"string"}}},"ExternalUserRole":{"required":["roleCode"],"type":"object","properties":{"roleCode":{"type":"string","description":"Role Code","example":"GLOBAL_SEARCH"}},"description":"User Role"},"UserGroupDto":{"required":["groupCode","groupName"],"type":"object","properties":{"groupCode":{"type":"string","description":"Group Code","example":"HDC_NPS_NE"},"groupName":{"type":"string","description":"Group Name","example":"HDC NPS North East"}},"description":"User Group"},"AdminTypeReturn":{"required":["adminTypeCode","adminTypeName"],"type":"object","properties":{"adminTypeCode":{"type":"string"},"adminTypeName":{"type":"string"}},"description":"Administration Type"},"RoleDto":{"required":["adminType","roleCode","roleDescription","roleName"],"type":"object","properties":{"roleCode":{"type":"string","description":"Role Code","example":"AUTH_GROUP_MANAGER"},"roleName":{"type":"string","description":"Role Name","example":"Auth Group Manager"},"roleDescription":{"type":"string","description":"Role Description","example":"Allow Group Manager to administer the account within their groups"},"adminType":{"type":"array","description":"Administration Type","items":{"$ref":"#/components/schemas/AdminTypeReturn"}}},"description":"Role Details"},"PagedResponseRoleDto":{"required":["content","empty","first","last","number","numberOfElements","pageable","size","sort","totalElements","totalPages"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/RoleDto"}},"pageable":{"$ref":"#/components/schemas/PageDetails"},"last":{"type":"boolean"},"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/PageSort"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"empty":{"type":"boolean"}}},"PrisonUserDto":{"required":["firstName","lastName","name","staffId","username","verified"],"type":"object","properties":{"username":{"type":"string","example":"RO_USER_TEST"},"staffId":{"type":"integer","format":"int64","example":1234564789},"email":{"type":"string","example":"ryanorton@justice.gov.uk"},"verified":{"type":"boolean","example":true},"firstName":{"type":"string","example":"Ryan"},"lastName":{"type":"string","example":"Orton"},"name":{"type":"string","example":"Ryan Orton"},"activeCaseLoadId":{"type":"string","example":"MDI"}}},"PrisonUserDetails":{"required":["accountType","active","authSource","enabled","firstName","lastName","name","staffId","userId","username"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"testuser1"},"staffId":{"type":"integer","description":"Staff ID","format":"int64","example":324323},"firstName":{"type":"string","description":"First name of the user","example":"John"},"lastName":{"type":"string","description":"Last name of the user","example":"Smith"},"activeCaseloadId":{"type":"string","description":"Active Caseload of the user","example":"BXI"},"accountStatus":{"type":"string","description":"Status of the user","example":"OPEN","enum":["OPEN","EXPIRED","EXPIRED_GRACE","LOCKED_TIMED","LOCKED","EXPIRED_LOCKED_TIMED","EXPIRED_GRACE_LOCKED_TIMED","EXPIRED_LOCKED","EXPIRED_GRACE_LOCKED"]},"accountType":{"type":"string","description":"Type of user account","example":"GENERAL","enum":["GENERAL","ADMIN"]},"primaryEmail":{"type":"string","description":"Email addresses of user","example":"test@test.com"},"dpsRoleCodes":{"type":"array","description":"List of associated DPS Role Codes","items":{"type":"string","description":"List of associated DPS Role Codes"}},"administratorOfUserGroups":{"type":"array","description":"List of user groups administered","items":{"$ref":"#/components/schemas/PrisonUserGroupDetail"}},"accountNonLocked":{"type":"boolean","description":"Account is not locked"},"credentialsNonExpired":{"type":"boolean","description":"Credentials are not expired flag"},"enabled":{"type":"boolean","description":"User is enabled flag"},"admin":{"type":"boolean","description":"User is admin flag"},"active":{"type":"boolean","description":"User is active flag"},"staffStatus":{"type":"string","description":"Staff Status","example":"ACTIVE"},"lastLogonDate":{"type":"string","description":"Last logon date","format":"date-time"},"userId":{"type":"integer","format":"int64"},"name":{"type":"string"},"authSource":{"type":"string","enum":["auth","azuread","delius","nomis","none"]}},"description":"Prison User Information"},"PrisonUserGroupDetail":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"description":"User Group Information"},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"PagedResponsePrisonUserSearchSummary":{"required":["content","empty","first","last","number","numberOfElements"
[...]
