<h1 class="title">Official visits</h1>
<br>
{{#.}}
    {{#officialVisits}}
        <br>
        <h3>Visit</h3>
        <table class="summary-list">
            <tr><td>Prison name</td><td>{{ getPrisonName prisonCode }}</td></tr>
            <tr><td>Visit date</td><td>{{ formatDate visitDate }}</td></tr>
            <tr><td>Start time</td><td>{{ formatDate startTime }}</td></tr>
            <tr><td>End time</td><td>{{ formatDate endTime }}</td></tr>
            <tr><td>Visit type</td><td>{{ optionalString visitType }}</td></tr>
            <tr><td>Visit status</td><td>{{ optionalString visitStatus }}</td></tr>
            <tr><td>Staff notes</td><td>{{ optionalString staffNotes }}</td></tr>
            <tr><td>Prisoner notes</td><td>{{ optionalString prisonerNotes }}</td></tr>
            <tr><td>Attendance</td><td>{{ optionalString prisonerAttendance }}</td></tr>
            <tr><td>Completion type</td><td>{{ optionalString completionCode }}</td></tr>
            <tr><td>Completion notes</td><td>{{ optionalString completionNotes }}</td></tr>
        </table>

        <h3>Visitors</h3>
        {{#visitors}}
        <table class="summary-list">
            <tr><td>Relationship type</td><td>{{ optionalString relationshipType }}</td></tr>
            <tr><td>Relationship description</td><td>{{ optionalString relationshipDescription }}</td></tr>
            <tr><td>First name</td><td>{{ optionalString firstName }}</td></tr>
            <tr><td>Last name</td><td>{{ optionalString lastName }}</td></tr>
            <tr><td>Lead visitor</td><td>{{ leadVisitor }}</td></tr>
            <tr><td>Attendance</td><td>{{ optionalString visitorAttendance }}</td></tr>
        </table>
        {{/visitors}}
        {{^visitors}}
            <p>No data held</p>
        {{/visitors}}

    {{/officialVisits}}
    {{^officialVisits}}
        <p>No data held</p>
    {{/officialVisits}}
{{/.}}
