<h1 class="title">Official visits</h1>
<br>
{{#.}}
    <table class="summary-list">
        <tr><td>Prisoner number</td><td>{{ optionalString prisonerNumber }}</td></tr>
        <tr><td>Date from</td><td>{{ optionalValue (formatDate fromDate) }}</td></tr>
        <tr><td>Date to</td><td>{{ optionalValue (formatDate toDate) }}</td></tr>
    </table>

    <br>
    <h2>Official visits</h2>
    {{#officialVisits}}
        <br>
        <h3>Visit</h3>
        <table class="summary-list">
            <tr><td>Prison name</td><td>{{ getPrisonName prisonCode }}</td></tr>
            <tr><td>Visit date</td><td>{{ formatDate visitDate }}</td></tr>
            <tr><td>Start time</td><td>{{ formatDate startTime }}</td></tr>
            <tr><td>End time</td><td>{{ formatDate endTime }}</td></tr>
            <tr><td>Visit type</td><td>{{ optionalString visitType }}</td></tr>
            <tr><td>Visit status</td><td>{{ optionalString visitStatus }}</td></tr>
            <tr><td>Staff notes</td><td>{{ optionalString staffNotes }}</td></tr>
            <tr><td>Prisoner notes</td><td>{{ optionalString prisonerNotes }}</td></tr>
            <tr><td>Attendance</td><td>{{ optionalString prisonerAttendance }}</td></tr>
            <tr><td>Completion type</td><td>{{ optionalString completionCode }}</td></tr>
            <tr><td>Completion notes</td><td>{{ optionalString completionNotes }}</td></tr>
            <tr><td>Search type</td><td>{{ optionalString searchTypeCode }}</td></tr>
            <tr><td>Visitor concern notes</td><td>{{ optionalString visitorConcernNotes }}</td></tr>
        </table>

        <h3>Visitors</h3>
        {{#visitors}}
        <table class="summary-list">
            <tr><td>Relationship type</td><td>{{ optionalString relationshipType }}</td></tr>
            <tr><td>Relationship description</td><td>{{ optionalString relationshipDescription }}</td></tr>
            <tr><td>Attendance</td><td>{{ optionalString visitorAttendance }}</td></tr>
        </table>
        {{/visitors}}
        {{^visitors}}
            <p>No data held</p>
        {{/visitors}}

    {{/officialVisits}}
    {{^officialVisits}}
        <p>No data held</p>
    {{/officialVisits}}
{{/.}}
